
  @font-face {
    font-family: Kg1;
    src: url("/assets/fonts/KG1.ttf");
  }
    
    @font-face {
      font-family: Appolo;
      src: url("/assets/fonts/appolo.otf");
    }
    
    
    
    .navbar {
      background-color: white;
      font-size: 1.2em;
    }

    
    body{
      box-sizing: content-box;
      width: 100%;
      font-family: Appollo;
      src: url("/assets/fonts/APOLLO.otf");
      letter-spacing: 1px;
    }

    .header-home {
      background: grey url(/assets/img/img.jpg) top center no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: right;
     color: white;
     padding: 2%;
     box-sizing: content-box;
     text-align: center;
     height: 80vh;
     margin-bottom: 1%;
     padding-bottom: 2em;
   }
    h1.title {
      font-family: Kg1;
      font-size: 4em;
      src: url("/assets/fonts/KG1.ttf");
      text-shadow: 4px 4px 3px black;
      color: white;
      
    }
   
    .slogan{
      color:white;
      text-shadow: black;
    }
    .row1{
      background-color:white ;
      height: 4em;
      
    }

    .btn {

      background-color:#BFAAA0 ;
      border: white solid 3px;
     
    }
    
    .btn1:hover {
      background-color: white;
      color: black;
    }

    .btn:hover {
      background-color: white;
      color: black;
    }
    .btn1{
      background-color:#838383;
      border:#E8B6A1 solid 2px;
      font-size: 1.5em;

    }
    .btn2{
      background-color: #e8b6a1;
      border:#E8B6A1 solid 2px;
          font-size: 150%;
      color: white;
    }
    

    .cardindex {
      background-color:white;  
    }

    .modal {
      background-color: #BFAAA0;
      color: black;
    }

   .card2{
     height: 28em;
     border: #E8B6A1 solid 3px;
     border-radius: 5%;

   }
   .card
   {
    border: #E8B6A1 solid 3px;
   }
   .bodylovers{
     background-color:#BFAAA0;
   }
#photo{
  height:60%;
  width: 100%;
}

.about{
  background-color: #E8B6A1;
  width: 100%;
  height: 15em;
}

.row2{
  font-weight: 1em;
}



.imgNav{
  max-height: 3rem;
  max-width: 100%;
}

.carousel .carousel-item{
  max-height: 400px;
  
}