
  @font-face {
    font-family: Kg1;
    src: url("/assets/fonts/KG1.ttf");
  }
    
    @font-face {
      font-family: Appolo;
      src: url("/assets/fonts/appolo.otf");
    }
    
    #logo{
      height:4em;
      width:4em;
      
    }
    
    .navbar {
      background-color: white;
      font-size: 1.2em;
    }

    .btn1 {
      background-color: #FF4D4D;
      border: #165D5A solid 2px;

    }

    .btn1:hover {
      background-color: white;
      color: black;
    }
    
   
    
    body{
      font-family: Appolo;
      src: url("/assets/fonts/appolo.otf");
      letter-spacing: 1px;
    }

    .header-home {
      background: grey url(/assets/img/img.jpg) top center no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: left;
     color: white;
     padding: 2%;
     box-sizing: content-box;
     text-align: center;
     height: 80vh;
     margin-bottom: 1%;
     padding-bottom: 2em;
   }
    h1.title {
      font-family: Kg1;
      font-size: 4em;
      src: url("/assets/fonts/KG1.ttf");
      text-shadow: 4px 4px 3px black;
      color: white;
      
    }
   
    .slogan{
      color: white;
    }
    .connexion{
      text-decoration: none;
      color: white;
    }
    .row1{
      background-color:white ;
      height: 2.5em;
  
    }

    .btn1 {
      background-color: white;
      border: #E8B6A1 solid 3px;
    }
    .btn1:hover {
      background-color: white;
      color: black;
    }

    .btn:hover {
      background-color: white;
      color: black;
    }
    .btn1{
      background-color:#bfaaa0;
      border:#E8B6A1 solid 2px;
      font-size: 1.5em;

    }
    .btn {

      background-color: #E8B6A1;
      border: white solid 3px;
     
    }

    .cardindex {
      background-color:white;  
    }

    .modal {
      background-color: #bfaaa0;
    }

   .card2{
     height: 28em;
     border: #E8B6A1 solid 3px;
     border-radius: 5%;

   }
   .card
   {
    border: #E8B6A1 solid 3px;
   }
   .bodylovers{
     background-color:#BFAAA0;
   }
